body {
    height: 100vh;
    text-align: center;
    display: grid;
    place-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container {

    width: 1200px;
    height: 900px;

}

.cards {
    background-image: url(./pokemon-1635610_640.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 20px;
    height: 81%;
    margin: auto;
    display: grid;
    grid-template-columns: 1.3fr 250px 3fr;
    place-items: center;
}


.pk-img {
    height: 300px;
    transition: 0.5s;
}

.pk-img:hover {
    transform: scale(1.2);
}